<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aubergineadmin">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:allowBackup="true" android:icon="@mipmap/logo"
        android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".View.MainAdminActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".View.MenuLogiciel"/>
        <activity android:name=".View.LogicielAdd"/>
        <activity android:name=".View.LogicielDetail"/>

        <activity android:name=".View.MenuUser"/>
        <activity android:name=".View.UserAdd"/>
        <activity android:name=".View.UserDetail"/>

        <activity android:name=".View.MenuProfil"/>
        <activity android:name=".View.ProfilAdd"/>
        <activity android:name=".View.ProfilDetail"/>





    </application>

</manifest>